<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564280065480-4mfv7ucm4gdp1udbs1lmof61o7hda95t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564280065480-4mfv7ucm4gdp1udbs1lmof61o7hda95t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564280065480-20ag1s2a7kkkspbacjtk1aegs21uc409.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJo8b78hZxTWX1-OK5cNVG5FGEXB7XAYE</string>
	<key>GCM_SENDER_ID</key>
	<string>564280065480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bontriage.mobile.debug</string>
	<key>PROJECT_ID</key>
	<string>bontriage-71c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>bontriage-71c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564280065480:ios:2169188bcfe332495014fd</string>
</dict>
</plist>